<h2 class="large-size text-left center-elements m-m-t">Comment ça fonctionne ?</h2>
<p class="font-weight-bold medium-size text-left center-elements">Suivez ces 3 étapes simples pour utiliser notre service:</p>
<!-- Service Section -->
<div class="bixol-service-section pt-100 pb-70">
	<div class="container">
		<div class="row align-items-center">
			<div class="bixol-services">
				<div class="bixol-service-item bloc-mobile">
					<div class="bixol-icon-wrapper bloc-mobile bloc-mobile">
						<span class="bloc-mobile"><i class="fa fa-">1</i></span>
					</div>
					<div class="bixol-service-content mobile-w-100 bloc-mobile">
						<a href="#"><h5>Faites le test gratuit et rapide</h5></a>
						<p>En faisant un test d'éligibilité en quelques minutes,  vous savez si vous êtes admissible à des réductions d'impôts.</p>
					</div>
				</div>
				<div class="bixol-service-item bloc-mobile">
					<div class="bixol-icon-wrapper bloc-mobile">
						<span class="bloc-mobile"><i class="fa fa-">2</i></span>
					</div>
					<div class="bixol-service-content mobile-w-100 bloc-mobile">
						<a href="#"><h5>Recevez un accompagnement personnalisé</h5></a>
						<p>Un expert, conseiller fiscal dans votre région vous contactera pour une consultation gratuite.</p>
					</div>
				</div>
				<div class="bixol-service-item bloc-mobile">
					<div class="bixol-icon-wrapper bloc-mobile">
						<span class="bloc-mobile"><i class="fa fa-">3</i></span>
					</div>
					<div class="bixol-service-content mobile-w-100 bloc-mobile">
						<a href="service-details.html"><h5>Profitez de notre expertise !</h5></a>
						<p>Grâce à notre accompagnement personnalisé,  vous trouvez la solution la plus adaptée à votre cas.  Notre service est gratuit et sans engagement.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
