<!-- Testimonail Section -->
<section class="abv2-feedback-section section-padding bg-light">
    <div class="container">
        <div class="abv2-feedback-right justify-content-center">
            <div class="title-style-2 text-center">
                <h2>Témoignages</h2>
                <p class="pb-3">Ils ont fait le test et voici ce qu’ils en pensent:</p>
            </div>
        </div>
        <div class="abv2-feedback-wrapper">
            <div class="row">
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="client-content">
                                <h6>Aurélie L. Dubois</h6>
                                <p>"J'ai découvert grâce au test de réduction d'impôt en ligne que j'étais éligible à plusieurs crédits d'impôt que je ne connaissais même pas. J'ai fini par économiser plus de 1 000 € sur mes impôts de l'année dernière, ce qui était vraiment une agréable surprise!" </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="client-content">
                                <h6>Austin Heyven Martins</h6>
                                <p>"Le test de réduction d'impôt en ligne m'a permis de comprendre comment optimiser mes dépenses pour maximiser mes économies d'impôt. J'ai réussi à économiser près de 2 500 € sur mes impôts de l'année dernière grâce à cet outil." </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="client-content">
                                <h6>Lefebvre P.</h6>
                                <p>"J'étais sceptique quant à l'utilité d'un test de réduction d'impôt en ligne, mais j'ai finalement décidé de le faire. Et je suis content d'avoir pris cette décision! J'ai réussi à économiser plus de 3 000 € sur mes impôts de l'année dernière, ce qui m'a permis de réaliser certains projets que je n'aurais pas pu financer autrement."</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="client-content">
                                <h6>Bertrand Willems</h6>
                                <p>"J'ai trouvé le test de réduction d'impôt en ligne très facile à utiliser. Il m'a permis de découvrir que j'étais éligible à des crédits d'impôt pour des investissements que j'avais déjà réalisés. En tout, j'ai économisé plus de 1 500 € sur mes impôts de l'année dernière grâce à cet outil.".</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="client-content">
                                <h6>Etty Maes</h6>
                                <p>"Le test de réduction d'impôt en ligne m'a permis de comprendre les différentes déductions et crédits d'impôt auxquels j'étais éligible. J'ai réussi à économiser près de 2 000 € sur mes impôts de l'année dernière grâce à cet outil.".</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="single-item">
                        <span class="quote-icon">,,</span>
                        <div class="clients-info">
                            <div class="client-content">
                                <h6>M. Nguyen</h6>
                                <p>"J'ai été agréablement surpris par les résultats du test de réduction d'impôt en ligne. J'ai réussi à économiser plus de 4 000 € sur mes impôts de l'année dernière grâce à cet outil. Il m'a permis de découvrir des déductions et des crédits d'impôt auxquels je n'aurais jamais pensé." .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Testimonail Section End -->